{% extends "bases/base.html" %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'exams/css/css.css' %}" rel="stylesheet">
    <link href="{% static 'exams/css/gen_medical_access.css' %}" rel="stylesheet">
{% endblock 'head' %}


{% block 'content' %}
    <br>
    <br>
    <div class="container">
        {% if messages %}
            <br>
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-5">
                <h3>Access medical gen</h3>

                <form action="{% url "gen_medical_access" %}" method="POST">{% csrf_token %}

                    <label for="">Identification:</label>
                    <br>
                    <input style="width: 100%" type="text" name="identification" id="" class="input-default">
                    <br>
                    <br>
                    <label for="">Access Time (in hours):</label>
                    <br>
                    <input style="width: 100%" type="number" name="access_time" id="" class="input-default">
                    <br>
                    <br>
                    <div class="row">
                        <label for="">Exams Access realized between:</label>
                        <div class="col-md">
                            <input style="width: 100%" type="date" name="start_exam_date" id="" class="input-default">
                        </div>
                        <div class="col-md">
                            <input style="width: 100%" type="date" name="final_exam_date" id="" class="input-default">
                            <br>
                            <br>
                        </div>
                   
                        
                    </div>
                    <input style="width: 40%" type="submit" class="btn-default" value="Link Gen">
                </form>
            </div>
            <div class="col-md">
                
                <div class="card">
                    <table style="text-align: center">
                        <tr>
                          <th>Id</th>
                          <th>Status</th>
                          <th>Link</th>
                          
                        </tr>
        
                        {% for access in medical_access %}
                            <tr class="linha-tabela">
                                <td>{{access.identification}}</td>
                                <td>{{access.status}}</td>
                                <td>
                                    <a href="{{access.url}}">{{access.url}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock 'content' %}