{% extends "bases/base.html" %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'exams/css/css.css' %}" rel="stylesheet">
    <link href="{% static 'exams/css/manage_orders.css' %}" rel="stylesheet">
    <link href="{% static 'exams/css/manage_exams.css' %}" rel="stylesheet">
{% endblock 'head' %}


{% block 'content' %}
    {% include "bases/navbar.html" %}
    <br> 
    <br>
    <div class="container">
        {% if messages %}
            <br>
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <h3 class="font-destaque">{{customer.get_full_name}}</h3>
        <p>{{customer.email}}</p>
        <div class="card card-view">
            
            <div class="sub-card">
                <h3>Blood Tests</h3>
                <hr>
                <br>
                {% for exam in exams  %}
                    {% if  exam.exam.exam_type == 'S'%}
                        <div class="row">
                            <div class="col-md"><h3>{{exam.exam.name}}</h3></div>
                            <div class="col-md">{{exam.badge_template}}</div>
                            <div class="col-md">
                                <a href="{% url 'exam_customer' exam.id %}" class="btn btn-light">Open</a>
                            </div>
                        </div>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
            <br>
            <br>
            <div class="sub-card">
                <h3>Image Tests</h3>
                <hr>
                <br>
                {% for exam in exams  %}
                    {% if  exam.exam.exam_type == 'I'%}
                        <div class="row">
                            <div class="col-md"><h3>{{exam.exam.name}}</h3></div>
                            <div class="col-md">{{exam.badge_template}}</div>
                            <div class="col-md"><a href="{% url 'exam_customer' exam.id %}" class="btn btn-light">Open</a></div>
                        </div>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
            
        </div>

    </div>

{% endblock 'content' %}