{% extends "bases/base.html" %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'exams/css/css.css' %}" rel="stylesheet">
    <link href="{% static 'exams/css/manage_orders.css' %}" rel="stylesheet">
{% endblock 'head' %}


{% block 'content' %}
    <br> 
    <br>
    <div class="container">
        {% if messages %}
            <br>
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md">
                <form action="{% url "manage_customers" %}" method="GET">
                <label for="">Name</label>
                <input type="text" class="form-control" name="name" value="{{complete_name}}">
            </div>
            <div class="col-md">
                <label for="">E-mail</label>
                <input type="text" class="form-control" name="email" value="{{email}}">
            </div>
            <div class="col-md">
                <br>
                <input type="submit" class="btn-default" value="Submit">
                </form>

            </div>
        </div>
        <br>
        <div class="card card-view">
            <table>
                <tr>
                  <th>Name</th>
                  <th>E-mail</th>
                  <th>CPF</th>
                </tr>

                {% for customer in customers %}
                    <tr class="linha-tabela">
                        <td><a href="{% url 'customer' customer.id %}">{{customer.get_full_name}}</a></td>
                        <td>{{customer.email}}</td>
                        
                        <td>
                        
                        </td>
                    </tr>
                {% endfor %}
               
              </table>
              
            
        </div>

    </div>

{% endblock 'content' %}